body{
    margin:0;
    padding:0;
    font-family:Arial,sans-serif;
}
.header{
    text-align:center;
    color:white;
    text-shadow:2px 2px 4px rgba(0,0,0,0.5);
    font-size: 50px;
}
.row{
    display:flex;
    justify-content:center;
}
.btn{
    border:2px solid #333;
    width: 75px;
    height:75px;
    text-align:center;
    font-size:50px;
    font-weight:500;
    background-color:rgba(255,255,255,0.8);
    color:#333;
    cursor:pointer;
}
.btn:hover{
    background-color:rgba(255,255,255,0.9);
    cursor:pointer;
}
.btn:disabled{
    color:black;
    cursor:no-drop;
}
.result-container{
    background-color: rgba(255,255,255,0.8);
    border: 2px s;
}